doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')
    script module={}
    script(src='/javascripts/lz4.js')
    script(id='initial-image', type='text/base64') #{image}
    script(src='/javascripts/index.js')
  body(data-user-id=userId)
    a.clear(href='javascript:void(0)') CLEAR
    #frame
      #c
        canvas(id='main', width=500, height=500)
        canvas(id='echo', width=500, height=500)
        ul#users
