body
  background-color #bfbfbf
#frame
  width 500px
  height 500px
  position relative
  background url("/images/back.png") 0 0
  box-shadow 0 2px 4px #666
  canvas
    position absolute
    left 0
    top 0
#users li
  list-style-type none
  padding 2px 4px
  border-radius 4px
  position absolute
  background-color white
  border 1px solid #ccc
